<!-- profile body start -->
<div class="row">
  <div class="col-md-4 order-md-2 p-5 ">
    <div class="user-profile user-card mb-4">
      <div class="card-body p-5">

        <mat-nav-list>

          <a mat-list-item [routerLink]="" class="li"> Header Setting </a>
          <a mat-list-item [routerLink]=""> Create Account </a>
          <a mat-list-item [routerLink]=""> Contacts </a>
          <a mat-list-item [routerLink]=""> Create Contact </a>
          <a mat-list-item [routerLink]=""> Activities </a>
          <a mat-list-item [routerLink]=""> Create Activity </a>
        </mat-nav-list>

      </div>
    </div>
  </div>
  <div class="col-md-8 order-md-2 pr-3 pl-3 pt-5 ">
    <div class="user-profile user-card mb-4">
      <div class="card-header border-0 p-0 pb-0">
      </div>
      <div class="card-body p-5">
        <div class="form-group mt-2">
          <label for="exampleInputPassword1">Banner</label>
          <textarea [(ngModel)]="text" style="width: 90%"
                    (click)="value()" name="exampleInputPassword1" id="exampleInputPassword1"
                    placeholder="Enter Html to design your banner " class="form-control"></textarea>
        </div>
        <div>
          <button type="button" class="btn btn-primary" style="float: right" (click)="value()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
